@mixin prefixes($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}
@mixin fonter($size,$lineHeight){
	font-family: $font-base;
	font-size: $size;
	line-height: $lineHeight;
}