@media(min-width: 768px){
	.flexbox{
		display: flex;
		justify-content:space-between;
	}

	.flexbox--center{
		display: flex;
		justify-content:center;
	}

	.flexbox--wrap{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

	}
	.flexbox--gallery{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}

@media(min-width: 1200px){
	.flexbox--radio{
		margin-top: 18px;
		justify-content:center;
		margin-bottom: -13px;

	}
	.flexbox--center{
		display: flex;
		justify-content:flex-start;
	}
	.flexbox--wrap{
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

