.page-footer{
	padding-bottom: 30px;
	&__hash{
		padding-bottom: 35px;
		text-align: center;
		font-family: $font-base;
		font-size: 21px;
		line-height: 26px;
		font-weight: bold;
		text-transform: uppercase;
		color: #000;
	}

	&__copyright{
		padding-top: 40px;
		text-align: center;
		font-family: $font-base;
		font-size: 14px;
		line-height: 26px;
		text-transform: uppercase;
	}

	&__link{
		display: inline-block;
		margin-left: 10px;
		vertical-align: middle;
		width: 36px;
		height: 36px;
		&:hover .page-footer__academy{
			fill: $blue-base;
		}
		&:active .page-footer__academy{
			fill: #b2b2b2;
		}
	}


}

.social{
	&__list{
		margin: 0 ;
		padding: 0;
		list-style: none;
		font-size:0px;
		text-align: center;
	}
	&__item{
		display: inline-block;
		margin-right: 6px;
	}

	& span{display: none;}

	&__link{
		display: block;
		width: 46px;
		height: 48px;
		text-align: center;
		font-size: 18px;
		line-height: 48px;
		background-color: $blue-base;
		color: #fff;
		&:hover{
			background-color: #669ec0;
		}
		&:active{
			background-color: #5496bd;
			color: #88b6d1;
		}

	}

}

@media(min-width: 768px){
	.page-footer{
		padding: 0 7.81% 0 7.81%;
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;

		&__hash{
			padding-top: 11px;
		
		}
		&__copyright{
			padding-top:6px;
		}
	}
	.social{
		display: inline-block;
	}
}

