

.main-intro{
	position: relative;
	background: url("../img/photo-background@1x.jpg") no-repeat;
	padding:47px 0 47px 0;
	background-size: cover;

	&:before{
		content: '';
		display: block;
		margin: 0 auto;
		width: 280px;
		height: 295px;
		background: url('../img/bg-sedona-text.png');
	}

	&:after{
		content: '';
		position: absolute;
		bottom: -1px;
		display: block;
		height: 27px;
		width: 100%;
		background: url('../img/bg-sedona-mask.png') no-repeat;
		background-size:100% 27px;


	}
}

.reasons{
	&__header{
		margin: 0;
		padding: 40px 7% 0 7%;
	}
	
	&__item{
		position:relative;
		text-align: center;
		background-color: #eee;
		
		&:after{
			content: '';
			position:absolute;
			display: block;
			bottom: 0;
			left: 50%;
			transform:translateX(-50%);
			width: 87.5%;
			height: 1px;
			background-color: #d6d6d6;

		}
		&:last-child:after{
			display: none;
		}
		
		&--mask:before{
			content: '';
			display: block;
			height: 17px;
			background-color: $blue-base;
			background: url('../img/reasons__item--mask.png') no-repeat 50% 0%;
			background-size :100% 17px;
		}

		&--light{
			background-color: $blue-base;
			&:after{
				display: none;
			}
		}
	}

	&__image{
		height: 256px;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: cover;
		&--city{
			background-image: url("../img/photo-city@1x.jpg")
		}
		&--bridge{
			background-image: url("../img/photo-bridge@1x.jpg")
		}
	}

	&__title{
		margin:0;
		padding-top: 29px;
		padding-bottom:14px;
		font-family: $font-base;
		font-size: 18px;
		line-height: 26px;
		font-weight: bold;
		text-transform: uppercase;
		color: #000;

		&--light{
			padding-top: 41px;
			color: #fff;
		}
	}

	&__num{
		margin: 0;
		padding-bottom: 26px;
		font-family: $font-base;
		font-size: 14px;
		line-height: 21px;
		text-transform: uppercase;
		color: #333;
		&--light{
			color: #fff;
		}
	}

	&__about{
		margin: 0px;
		padding-left: 9%;
		padding-right: 9%;
		padding-bottom: 30px;
		font-family: $font-base;
		font-size: 14px;
		line-height: 21px;
		text-transform: uppercase;
		color: #333;
		&--light{
			padding-bottom: 41px;
			color: #fff;
		}
	}
}

.block__title{
	margin: 0;
	padding-bottom:30px;
	font-family: $font-base;
	text-align: center;
	font-size:18px;
	font-weight: bold;
	line-height: 26px;
	color: #000;
	text-transform: uppercase;
}
.block__text{
	margin:0;
	padding-bottom:28px;
	font-family: $font-base;
	text-align: center;
	font-size:14px;
	line-height: 26px;
	text-transform: uppercase;
}

.features{
	padding-top: 40px;
	padding-left: 21.8%;
	padding-right: 12.5%;
	&__item{

		box-sizing: border-box;
	}

	&__title{
		position: relative;
		margin: 0;
		padding-bottom: 19px;
		font-family: $font-base;
		font-size: 18px;
		line-height: 26px;
		font-weight: bold;
		text-transform: uppercase;
		color: #000;

		&:before{
			content: '';
			position: absolute;
			left: -50px;
			display: block;
			width: 40px;
			height: 40px;
			transform: translateY(-25%);
		}

		&--img-house:before{
			background: url(../img/icon-house.svg) no-repeat;
			background-size: 85%;

		}

		&--img-souvenirs:before{
			background: url(../img/icon-gift.svg) no-repeat;
			background-size: 85%;
		}

		&--img-food:before{
			background: url(../img/icon-burger.svg) no-repeat;
			background-size: 85%;
		}
	}

	&__about{
		margin: 0;
		padding-bottom:40px;
		font-family: $font-base;
		font-size: 14px;
		line-height: 21px;
		text-transform: uppercase;
		color: #333;

	}
}

.hotel-search{
	
	padding:29px 6.5% 49px;
	
	&__btn{
		display: block;
		padding: 16px  0;
		text-align:center;
		width: 100%;
		font-family: $font-base;
		font-size: 21px;
		line-height: 26px;
		text-transform: uppercase;
		text-decoration: none;
		background-color: $blue-base;
		color:#fff;
	}
	&__title{
		margin: 0;
		padding-bottom:30px;
		font-family: $font-base;
		text-align: center;
		font-size:21px;
		font-weight: bold;
		line-height: 26px;
		color: #000;
		text-transform: uppercase;
	}
	&__text{
	margin:0;
	padding-bottom:40px;
	font-family: $font-base;
	text-align: center;
	font-size:14px;
	line-height: 24px;
	text-transform: uppercase;
	color: $gray-base;
	}

	
}

.map{
	display: block;
	margin-bottom: 38px;
	width: 100%;
	height:350px;
	background: url('../img/map.jpg') no-repeat;
	background-size: 100% auto;
}

@media(min-width: 768px){
	.main-intro{
		padding:76px 0 84px 0; 

		&:after{
			content: '';
			position: absolute;
			bottom: -1px;
			display: block;
			height: 37px;
			width: 100%;
			background: url('../img/bg-sedona-mask-tablet.png') no-repeat;
			background-size:100% 37px;
		}
		&:before{
			content: '';
			display: block;
			margin: 0 auto;
			width: 458px;
			height: 352px;
			background: url('../img/bg-sedona-text-tablet.png') no-repeat;
		}
	}

	.block__title{
		font-size: 21px;
	}

	.reasons{
		&__item{
			float: left;
			width: 33.33%;
			height: 256px;
			padding:0 50px 0;
			box-sizing: border-box;
			&--mask:before{
				display: none;
			}
			&:after{
				display: none;
			}
		}
		&__about{
			padding-left: 0;
			padding-right: 0;
		}

		&__image{
			width: 66.67%;
			float:right;
		}



		&__title{
			font-size: 21px;
		}
	}

	.features{
		padding: 0;
		&__title{
			font-size: 21px;
			&:before{
				content: '';
				position: absolute;
				top: -30px;
				left: 50%;
				display: block;
				width: 80px;
				height: 80px;
				transform: translate(-50%,-100%);
				background-size: 85%;
				background-position: center;
			}
		}
		&__item{
			padding: 160px 50px 20px;
			text-align: center;
			width: 33.33%;
			float: left;

		}
	}
	.hotel-search{
		padding:58px 155px 58px;
		&__title{
			padding-bottom: 35px;
			@include fonter(30px,30px);
		}
		&__text{
			padding-bottom: 44px;
		}
	}

	.map{
		background-image: url("../img/map-tablet.jpg")
	}


}