.counter{
	text-align: center;
	&__btn{
		display: block;
		float: left;
		padding: 0;
		width: 61px;
		height: 58px;
		border: none;
		background-color: $gray-lighten;
		@include fonter(20px, 58px);
		font-weight: bold;
		color: $gray-trans;

		&:last-child{
			float:right;
		}
	}


	&__display{
		display: inline-block;
		margin: 0 auto;
		width: 52%;
		height: 58px;
		background-color: $gray-lighten;
		
	}

	&__input{
		display: block;
		float: left;
		box-sizing: border-box;
		width: 50%;
		margin:0;
		padding: 16px 20px;
		border: none;
		outline: none;
		@include fonter(18px, 26px);
		font-weight: bold;
		text-align: center;
		background-color: transparent;
	}

	&__right{
		float: right;
		width: 50%;
		padding:16px 0;
		@include fonter(18px, 26px);
		font-weight: bold;
		opacity: 0.3;
	}	
}