.travelers{
	margin-top: 19px;

	&:after {
    	content: '';
    	display: table;
    	clear: both;
	}
	&__col-left{
		float: left;
		width: 61px;
		
	}

	&__col-right{
		float: right;
		width: 76%;
		
	}

	&__num{
		padding: 16px 0;
		@include fonter(18px,26px);
		font-weight: bold;
		text-align: center;
		background-color: $gray-lighten;
	}
}

@media(min-width: 768px){
	.travelers{
		margin-top: 16px;
		&__col-left{
		    width: 9.3846153846%;
		}
		&__col-right{
			width: 89.6923076923%;
		}
	}
}
@media(min-width: 1200px){
	.travelers{
		margin-top: 16px;
		&__col-left{
		    width: 61px;
		    margin-right: 6px;
		}
		&__col-right{
			width: 890px;
			float: left;
		}
	}
}